In [27]:
import pandas as pd
# Buat dataframe df1 dan df2
df1 = pd.DataFrame({
   'key':['k1','k2','k3','k4','k5'],
   'val1':[200, 500, 0, 500, 100],
   'val2':[30, 50, 100, 20, 10]
})
df2 = pd.DataFrame({
   'key':['k1','k3','k5','k7','k10'],
   'val3':[1,2,3,4,5],
   'val4':[6,7,8,8,10]
})
# Penerapan join dengan menggunakan set_index dan keyword how
join_df = df1.set_index('key').join(df2.set_index('key'), how='outer')
print(join_df)

      val1   val2  val3  val4
key
k1   200.0   30.0   1.0   6.0
k10    NaN    NaN   5.0  10.0
k2   500.0   50.0   NaN   NaN
k3     0.0  100.0   2.0   7.0
k4   500.0   20.0   NaN   NaN
k5   100.0   10.0   3.0   8.0
k7     NaN    NaN   4.0   8.0

In [1]:
import pandas as pd

In [4]:
df1 = pd.DataFrame({
   'key':['k1','k2','k3','k4','k5'],
   'val1':[200, 500, 0, 500, 100],
   'val2':[30, 50, 100, 20, 10]
})

In [3]:
df2 = pd.DataFrame({
   'key':['k1','k3','k5','k7','k10'],
   'val3':[1,2,3,4,5],
   'val4':[6,7,8,8,10]
})

In [ ]:
join_df = pd.

In [5]:
df1

  key  val1  val2
0  k1   200    30
1  k2   500    50
2  k3     0   100
3  k4   500    20
4  k5   100    10

In [6]:
df1.set_index('key')

     val1  val2
key
k1    200    30
k2    500    50
k3      0   100
k4    500    20
k5    100    10

In [9]:
df1.reset_index()

   index key  val1  val2
0      0  k1   200    30
1      1  k2   500    50
2      2  k3     0   100
3      3  k4   500    20
4      4  k5   100    10

In [20]:
df1.columns

Index(['key', 'val1', 'val2'], dtype='object')

In [18]:
print(df1.index)

RangeIndex(start=0, stop=5, step=1)

In [23]:
df1

  key  val1  val2
0  k1   200    30
1  k2   500    50
2  k3     0   100
3  k4   500    20
4  k5   100    10

In [21]:
pd.Index(df1)

Index([('k1', 200, 30), ('k2', 500, 50),  ('k3', 0, 100), ('k4', 500, 20),
       ('k5', 100, 10)],
      dtype='object')

In [31]:
df1 = pd.DataFrame({
   'key':['k1','k2','k3','k4','k5'],
   'val1':[200, 500, 0, 500, 100],
   'val2':[30, 50, 100, 20, 10],
  
})
df2 = pd.DataFrame({
   'key':['k1','k1','k5','k7','k10'],
   'val3':[1,2,3,4,5],
   'val4':[6,7,8,8,10]
})

In [32]:
pd.merge(df1, df2, validate="1:1")

MergeError: Merge keys are not unique in right dataset; not a one-to-one merge