In [3]:
import pandas as pd
dataset = pd.read_csv('https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/retail_raw_reduced.csv')
print('Ukuran dataset: %d baris dan %d kolom\n' % dataset.shape)
print('Lima data teratas:')
print(dataset.head())

Ukuran dataset: 5000 baris dan 9 kolom

Lima data teratas:
   order_id  order_date  customer_id             city     province product_id  \
0   1703458  2019-10-17        14004  Jakarta Selatan  DKI Jakarta      P1910
1   1706815  2019-10-24        17220  Jakarta Selatan  DKI Jakarta      P2934
2   1710718  2019-11-03        16518    Jakarta Utara  DKI Jakarta      P0908
3   1683592  2019-08-19        16364    Jakarta Barat  DKI Jakarta      P0128
4   1702573  2019-10-16        15696    Jakarta Timur  DKI Jakarta      P2968

     brand  quantity  item_price
0  BRAND_J        10      740000
1  BRAND_R         2      604000
2  BRAND_C         8     1045000
3  BRAND_A         4      205000
4  BRAND_R         2     4475000

In [25]:
import datetime
dataset['order_date'].apply(lambda x: datetime.datetime.strptime(x, "%Y-%m-%d"))

0      2019-10-17
1      2019-10-24
2      2019-11-03
3      2019-08-19
4      2019-10-16
          ...
4995   2019-12-01
4996   2019-07-28
4997   2019-10-23
4998   2019-10-17
4999   2019-11-24
Name: order_date, Length: 5000, dtype: datetime64[ns]

In [26]:
dataset['order_date'].apply(lambda x: datetime.datetime.strptime(x, "%Y-%m-%d").strftime('%Y-%m'))

0       2019-10
1       2019-10
2       2019-11
3       2019-08
4       2019-10
         ...
4995    2019-12
4996    2019-07
4997    2019-10
4998    2019-10
4999    2019-11
Name: order_date, Length: 5000, dtype: object

In [28]:
dataset['order_date']

0       2019-10-17
1       2019-10-24
2       2019-11-03
3       2019-08-19
4       2019-10-16
           ...
4995    2019-12-01
4996    2019-07-28
4997    2019-10-23
4998    2019-10-17
4999    2019-11-24
Name: order_date, Length: 5000, dtype: object

In [30]:
dataset['order_month'] = dataset['order_date'].apply(lambda x: datetime.datetime.strptime(x, "%Y-%m-%d").strftime('%Y-%m'))

In [31]:
dataset

,order_id,order_date,customer_id,city,province,product_id,brand,quantity,item_price,order_month
0,1703458,2019-10-17,14004,Jakarta Selatan,DKI Jakarta,P1910,BRAND_J,10,740000,2019-10
1,1706815,2019-10-24,17220,Jakarta Selatan,DKI Jakarta,P2934,BRAND_R,2,604000,2019-10
2,1710718,2019-11-03,16518,Jakarta Utara,DKI Jakarta,P0908,BRAND_C,8,1045000,2019-11
3,1683592,2019-08-19,16364,Jakarta Barat,DKI Jakarta,P0128,BRAND_A,4,205000,2019-08
4,1702573,2019-10-16,15696,Jakarta Timur,DKI Jakarta,P2968,BRAND_R,2,4475000,2019-10
...,...,...,...,...,...,...,...,...,...,...
4995,1724011,2019-12-01,12838,Tangerang,Banten,P3047,BRAND_R,2,450000,2019-12
4996,1676302,2019-07-28,13833,Bogor,Jawa Barat,P0760,BRAND_C,3,1465000,2019-07
4997,1706071,2019-10-23,16332,Jakarta Timur,DKI Jakarta,P1681,BRAND_H,4,747000,2019-10
4998,1703620,2019-10-17,13055,Jakarta Barat,DKI Jakarta,P0757,BRAND_C,8,695000,2019-10
4999,1720036,2019-11-24,17609,Jakarta Pusat,DKI Jakarta,P3334,BRAND_S,1,1045000,2019-11

In [32]:
dataset['gmv'] = dataset['item_price']*dataset['quantity']
print('Ukuran dataset: %d baris dan %d kolom\n' % dataset.shape)
print('Lima data teratas:')
print(dataset.head())

Ukuran dataset: 5000 baris dan 11 kolom

Lima data teratas:
   order_id  order_date  customer_id             city     province product_id  \
0   1703458  2019-10-17        14004  Jakarta Selatan  DKI Jakarta      P1910
1   1706815  2019-10-24        17220  Jakarta Selatan  DKI Jakarta      P2934
2   1710718  2019-11-03        16518    Jakarta Utara  DKI Jakarta      P0908
3   1683592  2019-08-19        16364    Jakarta Barat  DKI Jakarta      P0128
4   1702573  2019-10-16        15696    Jakarta Timur  DKI Jakarta      P2968

     brand  quantity  item_price order_month      gmv
0  BRAND_J        10      740000     2019-10  7400000
1  BRAND_R         2      604000     2019-10  1208000
2  BRAND_C         8     1045000     2019-11  8360000
3  BRAND_A         4      205000     2019-08   820000
4  BRAND_R         2     4475000     2019-10  8950000

In [47]:
monthly_amount = dataset.groupby('order_month')['gmv'].sum().reset_index()
print(monthly_amount)

  order_month         gmv
0     2019-07  3524041000
1     2019-08  4452923000
2     2019-09  3947002000
3     2019-10  6719937000
4     2019-11  6182229000
5     2019-12  8148235000

In [46]:
monthly_amount = dataset.groupby('order_month')['gmv'].sum()
print(monthly_amount)

order_month
2019-07    3524041000
2019-08    4452923000
2019-09    3947002000
2019-10    6719937000
2019-11    6182229000
2019-12    8148235000
Name: gmv, dtype: int64

In [39]:
dataset[dataset['order_month'] == '2019-07']['gmv']

5       2080000
16      7400000
18      5580000
22      7400000
25      3720000
         ...
4968    4600000
4980    5945000
4983    1045000
4985    3000000
4996    4395000
Name: gmv, Length: 574, dtype: int64

In [55]:
dataset.groupby(['order_month'])['gmv'].sum()

order_month
2019-07    3524041000
2019-08    4452923000
2019-09    3947002000
2019-10    6719937000
2019-11    6182229000
2019-12    8148235000
Name: gmv, dtype: int64