In [1]:
import pandas as pd
import re

In [2]:
rawdata = {'data': ['2018-01-01 35 20736.87      Paul',
                    '2017-06-15 67 10567.70      Harry',
                    '2015-07-23 01 3873.90      Noel',
                    '2011-05-12 56 82320.65      John',
                    '2010-03-26 21 28737.01      Sally',
                    '2016-08-19 82 80327.63      Mary',
                    '2018-08-12 90 30467.92     Steve']}
dataf = pd.DataFrame(rawdata, columns = ['data'])
dataf

                                data
0   2018-01-01 35 20736.87      Paul
1  2017-06-15 67 10567.70      Harry
2    2015-07-23 01 3873.90      Noel
3   2011-05-12 56 82320.65      John
4  2010-03-26 21 28737.01      Sally
5   2016-08-19 82 80327.63      Mary
6   2018-08-12 90 30467.92     Steve

In [3]:
dataf['Emp_Name'] = dataf['data'].str.extract('([a-z]\w{0,})', expand = True)
dataf['Emp_Name']

0     aul
1    arry
2     oel
3     ohn
4    ally
5     ary
6    teve
Name: Emp_Name, dtype: object

In [4]:
dataf['Emp_Name'] = dataf['data'].str.extract('([A-Z]\w{0,})', expand = True)
dataf['Emp_Name']

0     Paul
1    Harry
2     Noel
3     John
4    Sally
5     Mary
6    Steve
Name: Emp_Name, dtype: object

In [5]:
dataf['Emp_Name'] = dataf['data'].str.extract('([A-Z]\w{0,})', expand = True)
dataf['Emp_Name']

0     Paul
1    Harry
2     Noel
3     John
4    Sally
5     Mary
6    Steve
Name: Emp_Name, dtype: object

In [6]:
#from w3school

In [7]:
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

In [8]:
x

In [9]:
txt = "The rain in Spain"
x = re.findall("^The.*Spain$", txt)

In [10]:
x

['The rain in Spain']

In [11]:
txt = "The rain in Spain"
x = re.split("^The.*Spain$", txt)
x

['', '']

In [13]:
txt = "The rain in Spain"
x = re.sub("^The.*Spain$", 'abc',txt)
x

'abc'

In [15]:
txt = "The rain in Spain"

#Find all lower case characters alphabetically between "a" and "m":

x = re.findall("[a-m]", txt)
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [31]:
txt = "hello world"

#Check if the string starts with 'hello':

x = re.findall("^hello", txt)
x

['hello']

In [32]:
txt = "That will be 59 dollars"

#Find all digit characters:

x = re.findall("\d", txt)
print(x)

['5', '9']

In [38]:
txt = "hello world"

#Check if the string ends with 'world':

x = re.findall("world$", txt)
x

['world']

In [48]:
txt = "The rain in Spain falls mainly in the plain!"

#Check if the string contains "ai" followed by 0 or more "x" characters:

x = re.findall("aix*", txt)

print(x)

['ai', 'ai', 'ai', 'ai']

In [49]:
txt = "The rain in Spain falls mainly in the plain!"

#Check if the string contains "ai" followed by 1 or more "x" characters:

x = re.findall("aix+", txt)

print(x)

[]

In [55]:
txt = "The rain in Spain falls mainly in the plain!"

#Periksa apakah string berisi "a" diikuti dengan tepat dua karakter "l":

x = re.findall("al{2}", txt)

print(x)

['all']

In [59]:
txt = "The rain in Spain falls mainly in the plain!"

#Periksa apakah string berisi "falls" atau "stays":

x = re.findall("falls|stays", txt)

print(x)

['falls']

In [64]:
#https://www.w3schools.com/python/python_regex.asp
import pandas as pd
import numpy as np

In [78]:
s1 = pd.Series(['Mouse', 'dog', 'house and parrot', '23', np.NaN])
s1.str.contains('[a]', regex=True)

0    False
1    False
2     True
3    False
4      NaN
dtype: object

In [79]:
s1 = pd.Series(['Mouse', 'dog', 'house and parrot', '23', np.NaN])
s1.str.contains('[^a]', regex=True)

0    True
1    True
2    True
3    True
4     NaN
dtype: object

In [83]:
s1 = pd.Series(['Mouse', 'dog', 'house and parrot', '23', 'abcde'])
s1.str.contains('og', regex=False)

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [85]:
s1[s1.str.contains('o', regex=False)]

0               Mouse
1                 dog
2    house and parrot
dtype: object

In [89]:
s1 = pd.Series(['Mouse', 'dog', 'house and parrot', '23', 'cannot nan'])
s1.str.contains('og', regex=False)
s1[s1.str.contains('o', regex=False)]

0               Mouse
1                 dog
2    house and parrot
4          cannot nan
dtype: object

In [95]:
ind = pd.Index(['Mouse', 'dog', 'house and parrot', '23.0', np.NaN])
ind.str.contains('23', regex=False)

Index([False, False, False, True, nan], dtype='object')

In [97]:
s1.str.contains('oG', case=True, regex=True) #sensitif

0    False
1    False
2    False
3    False
4      NaN
dtype: object

In [101]:
s1 = pd.Series(['Mouse', 'dog', 'house and parrot', '23', np.nan])
s1.str.contains('og', na=False, regex=True)
s1[s1.str.contains('og', na=False, regex=True)]

1    dog
dtype: object

In [102]:
s1 = pd.Series(['Mouse', 'dog', 'house and parrot', '23', np.nan])
#s1.str.contains('og', na=False, regex=True)
s1[s1.str.contains('og', na=False, regex=True)]

1    dog
dtype: object

In [105]:
s1.str.contains('house|dog', regex=True) #Mengembalikan 'rumah' atau 'anjing' ketika salah satu ekspresi muncul dalam sebuah string
s1[s1.str.contains('og', na=False, regex=True)]

1    dog
dtype: object

In [109]:
#Mengabaikan sensitivitas huruf besar dan kecil menggunakan tanda dengan ekspresi reguler.
s1 = pd.Series(['Mouse', 'dog', 'house and parrot', '23', np.nan])
s1.str.contains('PARROT', flags=re.IGNORECASE, regex=True)

0    False
1    False
2     True
3    False
4      NaN
dtype: object

In [110]:
#Menampilkan digit apa pun menggunakan ekspresi reguler.
s1.str.contains('\\d', regex=True)

0    False
1    False
2    False
3     True
4      NaN
dtype: object

In [111]:
s2 = pd.Series(['40', '40.0', '41', '41.0', '35'])
s2.str.contains('.0', regex=True)

0     True
1     True
2    False
3     True
4    False
dtype: bool