In [1]:
import pandas as pd

In [19]:
a = pd.read_excel('coberegresi (1).xlsx')

In [20]:
a

      No Pendapatan Unnamed: 2
0    NaN          a          b
1    0.0     600000     400000
2    1.0    1200000    1000000
3    2.0     950000     750000
4    3.0     400000     200000
5    4.0    1200000    1000000
6    5.0     800000     600000
7    6.0     950000     750000
8    7.0    1100000     900000
9    8.0     800000     600000
10   9.0    1700000    1500000
11  10.0     600000     400000
12  11.0     950000     750000
13  12.0     400000     200000
14  13.0    6450000    1250000
15  14.0    1000000     800000
16  15.0     800000     600000
17  16.0    1200000    1000000
18  17.0     700000     500000
19  18.0     600000     400000
20  19.0     800000     600000