In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
number_list = pd.Series([1,2,3,4,5,7])
# DataFrame
matrix_list = pd.DataFrame([[1,2,3],
				            ['a','b','c'],
				            [3,4,5],
				            ['d',4,6]])

In [6]:
number_list.loc[0:1]

0    1
1    2
dtype: int64

In [13]:
number_list.iloc[0:1]

0    1
dtype: int64

In [8]:
matrix_list.iloc[0:1]

   0  1  2
0  1  2  3

In [9]:
matrix_list.loc[0:1]

   0  1  2
0  1  2  3
1  a  b  c